*.ilk
*.pdb
*.log
*.idb
*.exp
*.iobj
*.ipdb
*.tlog
*.tlog/
*.lastbuildstate

*.sdf
*.user
*.suo

.vs/
.vscode/
Build/
Tools/.vscode/

PrimeEngine/.vs/
PrimeEngine/PrimeEngine.VC.VC.opendb
PrimeEngine/PrimeEngine.VC.db
PrimeEngine/ipch/

PrimeEngine/Dependencies/FreeImage/Dist/
PrimeEngine/Dependencies/FreeImage/Source/FreeImageLib/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibJPEG/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibJXR/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibOpenJPEG/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibPNG/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibRawLite/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibTIFF4/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibWebP/x64/
PrimeEngine/Dependencies/FreeImage/Source/OpenEXR/x64/
PrimeEngine/Dependencies/FreeImage/Source/ZLib/x64/
PrimeEngine/Dependencies/FreeImage/x64/
PrimeEngine/Dependencies/FreeType/x64/
PrimeEngine/Dependencies/GLFW/x64/
PrimeEngine/Dependencies/GLEW/build/vc12/x64/

PrimeEngine/Dependencies/FreeImage/Dist/
PrimeEngine/Dependencies/FreeImage/Source/FreeImageLib/Win32/
PrimeEngine/Dependencies/FreeImage/Source/LibJPEG/Win32/
PrimeEngine/Dependencies/FreeImage/Source/LibJXR/Win32/
PrimeEngine/Dependencies/FreeImage/Source/LibOpenJPEG/Win32/
PrimeEngine/Dependencies/FreeImage/Source/LibPNG/Win32/
PrimeEngine/Dependencies/FreeImage/Source/LibRawLite/Win32/
PrimeEngine/Dependencies/FreeImage/Source/LibTIFF4/Win32/
PrimeEngine/Dependencies/FreeImage/Source/LibWebP/Win32/
PrimeEngine/Dependencies/FreeImage/Source/OpenEXR/Win32/
PrimeEngine/Dependencies/FreeImage/Source/ZLib/Win32/
PrimeEngine/Dependencies/FreeImage/Win32/
PrimeEngine/Dependencies/FreeType/Win32/

PrimeEngine/Dependencies/FreeType/Intermediate/
PrimeEngine/Dependencies/GLFW/Intermediate/
PrimeEngine/Dependencies/GLEW/build/vc12/Intermediate/

PrimeEngine/bin/

