*.ilk
*.pdb
*.log
*.idb
*.exp
*.iobj
*.ipdb
*.tlog
*.tlog/
*.lastbuildstate

*.sdf
*.user
*.suo

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.vs/
.vscode/
Build/**
Tools/.vscode/

PrimeEngine/.vs/
PrimeEngine/PrimeEngine.VC.VC.opendb
PrimeEngine/PrimeEngine.VC.db
PrimeEngine/bin/
PrimeEngine/ipch/

PrimeEngine/Dependencies/FreeType/x64/
PrimeEngine/Dependencies/FreeType/Win32/
PrimeEngine/Dependencies/FreeType/Intermediate/

PrimeEngine/Dependencies/GLFW/x64/
PrimeEngine/Dependencies/GLFW/Win32/
PrimeEngine/Dependencies/GLFW/Intermediate/
PrimeEngine/Dependencies/GLFW/build/

PrimeEngine/Dependencies/GLEW/build/vc12/x64/
PrimeEngine/Dependencies/GLEW/build/vc12/Win32/
PrimeEngine/Dependencies/GLEW/build/vc12/Intermediate/