*.ilk
*.pdb
*.log
*.idb
*.exp
*.iobj
*.ipdb
*.tlog
*.tlog/
*.lastbuildstate

*.sdf
*.user
*.suo

Build/
PrimeEngine/.vs/
PrimeEngine/Dependencies/FreeImage/Dist/
PrimeEngine/Dependencies/FreeImage/Source/FreeImageLib/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibJPEG/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibJXR/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibOpenJPEG/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibPNG/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibRawLite/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibTIFF4/x64/
PrimeEngine/Dependencies/FreeImage/Source/LibWebP/x64/
PrimeEngine/Dependencies/FreeImage/Source/OpenEXR/x64/
PrimeEngine/Dependencies/FreeImage/Source/ZLib/x64/
PrimeEngine/Dependencies/FreeImage/x64/
PrimeEngine/Dependencies/FreeType/